<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/main.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-left: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/main-responsive.css" rel="stylesheet">

    <!-- Favs and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    -->
  </head>

  <body>

    <h1>Some h1 header</h1>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et pharetra lacus. Fusce vitae lectus et dui auctor aliquam. Suspendisse dictum massa vitae ultricies iaculis. Quisque nec dui lacus. Proin sodales dui fringilla orci vulputate viverra. Morbi rutrum sodales ultrices. Integer interdum, erat ac sodales pharetra, erat purus tempus nulla, ut ullamcorper ligula metus eget leo. Ut id arcu non sapien luctus scelerisque. Vivamus pellentesque, lectus vitae aliquam sodales, metus metus ornare sapien, vitae mattis arcu erat vitae lacus. Sed egestas molestie pulvinar. Phasellus et commodo quam.
</p>
<p>
Maecenas lobortis massa sit amet malesuada mollis. Curabitur quis diam turpis. Praesent gravida, massa in laoreet imperdiet, quam ante luctus metus, ut lobortis sapien nulla in velit. Morbi tristique dignissim ultrices. Maecenas ut tortor nisi. Aenean vitae diam et metus aliquam gravida. Morbi convallis egestas felis. Suspendisse potenti. In hac habitasse platea dictumst. Nulla est velit, facilisis id vulputate quis, varius eu massa.
</p>
<p>
Sed pulvinar velit mauris, pharetra tempor lectus consectetur a. Praesent mollis elit sed vestibulum sollicitudin. Maecenas imperdiet lacus vel varius lobortis. Donec feugiat ante neque. Integer sed sodales mi. Mauris fringilla dolor nec dui luctus facilisis. Pellentesque sodales sit amet purus ut mattis. Curabitur tellus enim, imperdiet eu dictum non, luctus eget neque. Maecenas congue velit at dolor rutrum, et egestas felis aliquam. Cras nec libero eu nulla mattis tincidunt et et tortor. In hac habitasse platea dictumst. Aliquam venenatis id libero et interdum. In sed arcu dapibus, cursus dui sit amet, dictum mi. In ac nisl quis tellus facilisis gravida non sit amet ligula. Quisque vel consequat ligula. Cras lacinia dui tortor, faucibus dapibus metus rutrum malesuada.
</p>
<p>
Curabitur ac metus vel sapien tincidunt auctor nec sed augue. Nam euismod sapien libero, vel venenatis elit fringilla eget. Aliquam lobortis at elit id varius. Integer a varius quam. Proin sit amet augue arcu. Fusce in orci feugiat augue dignissim ultricies id eget velit. Morbi eget nisl lobortis, volutpat erat at, scelerisque neque. Suspendisse potenti. Quisque ornare odio non tortor vehicula pharetra. Aliquam tempus at magna sed sodales. Nunc viverra arcu a molestie hendrerit. Cras massa nibh, tempus non erat id, iaculis eleifend sem. Cras interdum augue et congue suscipit. Praesent a nisl nisi.
</p>
<p>
Quisque quis gravida ipsum, nec pulvinar purus. Aliquam eget sapien nunc. Duis suscipit in mauris sit amet consectetur. Donec dapibus est sed feugiat tincidunt. Maecenas sit amet velit eget nibh pulvinar hendrerit. Vivamus eu accumsan libero, at facilisis mauris. Morbi venenatis a metus sit amet porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi non consequat dolor. Curabitur nec nisl eget arcu fermentum porttitor. Fusce ac vehicula nisi, sed sollicitudin massa. Nulla viverra, purus vel volutpat pretium, nisl arcu fringilla elit, mollis feugiat libero est sed nulla. Nunc neque nisi, adipiscing quis purus sit amet, porta blandit ligula. In eget lobortis urna. Pellentesque imperdiet mi a orci eleifend cursus.
</p>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/main.js"></script>

  </body>
</html>